//text-colors
$text-white:#ffffff;
$header-text-orange:#eb8738;
$scroll-txt:#db5a6a;
$paragraph-grey:#5e6372;

//background-colors
$whitegray-bgcolor: #f6f6f6;
$white-bgcolor:#ffffff;
$scroll-pink-icon: #e39ea3;


//gradient colours
$gradient-purple: #cb0035;
$gradient-pink: #dc560a;
$gradient-orange: #e06900;
$btn-gradient-Dblue:#264699;
$btn-gradiend-Lblue:#4964a9;
$btn-text-color:#d32721;

$paragraph-ligthgrey:#a7acbc;
/////
$point-border-grey:#c7cde0;
$point-number-color:#3f4e76;
