
@font-face {
  font-family: 'proxima_novalight';
  src: url('../fonts/Proxima-Nova-Light/fontsfree-net-proxima-nova-light-webfont.woff') format('woff2'),
       url('../fonts/Proxima-Nova-Light/fontsfree-net-proxima-nova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/Proxima-Nova-Bold/fontsfree-net-proxima-nova-bold-webfont.woff2') format('woff2'),
       url('../fonts/Proxima-Nova-Bold/fontsfree-net-proxima-nova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_regular';
  src: url('../fonts/Proxima-Nova-Regular/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'myriad-pro-regular';
  src: url('../fonts/MYRIADPRO-REGULAR/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

