$font-heading-largeD: 48px;
$font-paragraph-baseD: 18px;
$font-paragraph-smallD: 14px;
$font-info-points-sizeD: 24px;
$font-features-sizeD: 30px;

$basic-marginD:300px;
$basic-marginM:50px;

$line-height-paragraph:30px; 
$line-height-heading:36px; 

$xs:30px;
$small:50px;
$medium:60px;
$large:115px;
$xlarge:210px;
$xxlarge: 300px;

$transparent-white:rgba(255, 255, 255, 0.1);