.gallery {
  @include space(margin, all, auto);
  background-color: $transparent-white;
  max-width: 100vw;
}

.gallery-wrapper {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(1, 1fr);
}

@include responsive($tablet) {
  .gallery-wrapper {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
  }

}

